{% extends 'base.html' %}
{% block content %}
<h2>Админка — новые заявки</h2>

<h3>Новые заявки ({{ requests|length }})</h3>
{% for req in requests %}
<div style="border:1px solid #ccc; padding:10px; margin:10px;">
    <h3>{{ req.title }}</h3>
    <p>Пользователь: {{ req.user.first_name|default:req.user.username }}</p>
    <p>Категория: {{ req.category.name }}</p>
    <p>Описание: {{ req.description }}</p>
    <img src="{{ req.image.url }}" width="200"><br><br>
    <a href="{% url 'change_status' req.pk %}">Изменить статус</a>
</div>
{% empty %}
<p>Нет новых заявок.</p>
{% endfor %}

<h3><a href="{% url 'manage_categories' %}">Управление категориями</a></h3>
{% endblock %}